<form class = "addOrder" action = "addOrder" method="POST">
	Name: <input name = "name" type = "text"/><br><br>
    {{#each ingredients}}
    	{{#if this.stock}}
    		 	{{this.name}} : ${{this.cost}} &nbsp;&nbsp;
    		 	<input id="{{this.cost}}" name="{{this._id}}" value="{{this.name}}" class = "pickIngredient" type = "checkbox"><br>
    	{{else}}
				{{this.name}} : Out of Stock&nbsp; <input type = "checkbox" id={{this._id}} value="{{this.name}}:Out of Stock" disabled><br>
    	{{/if}}
    {{/each}} <br>
    Ingredients Picked: <br>
    <textarea type="text" name="ingredientStr" id="ingredients" rows="3" cols="40" readonly="true" value=" "></textarea><br>
    Total Cost $:
    <input type="text" name="totalCost" id="cost" value = "0" readonly="true" />
    <br><input type="submit" value="Submit">
</form>